; localdomain zone
$TTL    604800
localdomain.	IN SOA  ns2.localdomain.  admin.localdomain. (
2017072703     ; Serial              
604800         ; Refresh
86400          ; Retry
2419200        ; Expire
604800 )       ; Negative Cache TTL

localdomain.      IN NS	ns2.localdomain.
ns2.localdomain.  IN A  10.0.0.11		

host1.localdomain.	IN A	10.0.0.22

test			IN CNAME	host1.localdomain.
