acl allowed {
    192.168.0.0/24;
    10.0.0.0/24;
	127.0.0.1;
};
options {
	directory "/var/cache/bind";

	listen-on port 53 { 127.0.0.1; 10.0.0.11; };
	listen-on-v6 port 53 { ::1; };

    dump-file      	"/var/named/data/cache_dump.db";
    statistics-file "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";

    allow-query    { localhost; };
	allow-transfer { none; };
	allow-notify   { localnets; };
	allow-recursion { allowed; };
	allow-query-cache { allowed; };
	allow-update { none; };
	blackhole { none; };

	recursion yes;
	dnssec-enable yes;
	dnssec-validation yes;
		
	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";
	managed-keys-directory "/var/named/dynamic";
	pid-file "/var/run/named/named.pid";
	session-keyfile "/var/run/named/session.key";

	forward only;
	forwarders {
	 	8.8.8.8;
		7.7.7.7;
	};

	auth-nxdomain no;    # conform to RFC1035
};

logging {
     category default { default_syslog; default_debug; };
     category unmatched { null; };
};

