*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [7:532]
:accept-n-log - [0:0]
:drop-n-log - [0:0]
-A INPUT -p tcp -m tcp --dport 22 -m limit --limit 10/min --limit-burst 20 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m limit --limit 2/sec -j ACCEPT
-A INPUT -p tcp -m tcp ! --tcp-flags FIN,SYN,RST,ACK SYN -m state --state NEW -j DROP
-A INPUT -f -m comment --comment "fragmented packets" -j DROP
-A INPUT -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG FIN,SYN,RST,PSH,ACK,URG -m comment --comment "xmastree packets" -j DROP
-A INPUT -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG NONE -m comment --comment "malformed null packets" -j DROP
-A INPUT -p icmp -m comment --comment "smurf stuff" -j DROP
-A INPUT -m comment --comment "Established to stay in" -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -m comment --comment "Accept loopback in" -j ACCEPT
-A INPUT -p udp -m udp --sport 53 -m comment --comment "DNS in" -j ACCEPT
-A INPUT -s 10.0.0.0/24 -p tcp -m tcp --dport 2222 -m comment --comment "vagrant SSH in from green subnet" -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -m comment --comment "Accept SSH traffic in" -j ACCEPT
-A INPUT -p tcp -m tcp --sport 32786:61000 --dport 80 -m comment --comment "apt-get in" -j ACCEPT
-A INPUT -p tcp -m tcp --sport 80 --dport 32786:61000 -m comment --comment "apt-get in" -j ACCEPT
-A INPUT -p udp -m udp --sport 123 -m comment --comment "NTP in" -j ACCEPT
-A INPUT -p tcp -m tcp --sport 25 --dport 1024:65535 -m comment --comment "SMTP in" -m conntrack --ctstate ESTABLISHED -j ACCEPT
-A INPUT -p tcp -m tcp --dport:27010 -m comment --comment "mongodb in" -j ACCEPT
-A INPUT -p tcp -m tcp --sport 993 -m state --state ESTABLISHED -m comment --comment imap-ssl -j ACCEPT
-A OUTPUT -m comment --comment "Established to stay out" -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT -o lo -m comment --comment "Accept loopback out" -j ACCEPT
-A OUTPUT -p udp -m udp --dport 53 -m comment --comment "DNS out" -j ACCEPT
-A OUTPUT -p tcp -m tcp --dport 2222 -m comment --comment "Accept Vagrant SSH traffic out" -j ACCEPT
-A OUTPUT -p tcp -m tcp --dport 22 -m comment --comment "Accept SSH traffic out" -j ACCEPT
-A OUTPUT -p tcp -m tcp --sport 32786:61000 --dport 80 -m comment --comment "apt-get out" -j ACCEPT
-A OUTPUT -p tcp -m tcp --sport 80 --dport 32786:61000 -m comment --comment "apt-get in" -j ACCEPT
-A OUTPUT -p udp -m udp --dport 123 -m comment --comment "NTP out" -j ACCEPT
-A OUTPUT -p tcp -m tcp --sport:27010 -m comment --comment "mongodb out" -j ACCEPT
-A OUTPUT -p tcp -m tcp --sport 1024:65535 --dport 25 -m comment --comment "SMTP out" -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
-A accept-n-log -j LOG --log-prefix "accept-n-log:"
-A accept-n-log -j ACCEPT
-A drop-n-log -j LOG --log-prefix "drop-n-log:"
-A drop-n-log -j DROP
COMMIT

